body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: peru;
}

section {
    padding: 2rem;
    margin: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    max-width: 75%;
    height: auto;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.profile-info p {
    flex: 1;
    padding: 0 1rem;
}